.desktop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // position: fixed;
  // bottom: 30px;
  width: 100%;
  // border: 2px solid yellow;
  height: 97.3vh;
  gap: 0px;
  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid cadetblue;
    width: 96px;
    padding-top: 30px;
    margin-left: 30px;
    gap: 3px;
    &__icon {
      width: 48px;
      height: 48px;
      &--active {
        border: 2px dotted gray;
        background-color: skyblue;
        mix-blend-mode: overlay;
      }
    }
    &__text {
      color: white;
      &--active {
        border: 2px dotted gray;
        background-color: lightblue;
        mix-blend-mode: overlay;
      }
    }
  }
  &__modal {
    display: none;
    position: absolute;
    left: 500px;
    top: 300px;
    flex-direction: column;
    border: 2px solid black;
    width: 500px;
    height: 500px;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    border-top-color: white;
    border-left-color: white;
    border-right-color: black;
    border-bottom-color: black;
    background-color: lightgray;
    &__header {
      display: flex;
      border: 2px solid gray;
      background-color: gray;
      width: 490px;
      height: 25px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      &__text {
        color: white;
        margin-left: 5px;
      }
      &__button {
        display: flex;
        margin-left: auto;
        margin-right: 5px;
        background-color: lightgray;
        border-top-color: white;
        border-left-color: white;
        justify-content: center;
        width: 20px;
        height: 20px;
      }
      &--active .desktop__modal__header {
        //This is all sorts of fucked, need to redo the whole of the js to get the right fckn class lmao
        border: 2px solid navy;
        background-color: navy;
      }
    }
    &__content {
      display: flex;
      border: 2px solid black;
      background-color: white;
      width: 475px;
      height: 450px;
      margin: auto;
      margin-right: 11px;
    }
  }
}

.modal__open {
  display: flex;
}
