.nav {
  display: flex;
  width: 100%;
  height: 30px;
  padding-left: 3px;
  border: 1px solid black;
  background-color: lightgray;
  border-top-color: white;
  border-right-color: white;
  align-items: center;
}

nav {
  z-index: 10000;
}

.nav__container {
  height: 85%;
}

.divider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10px;
  height: 85%;
}
.divider__line1 {
  border: 1px solid black;
  width: 0px;
  height: 80%;
  border-left-color: gray;
  border-right-color: white;
  border-top-color: lightgray;
  border-bottom-color: lightgray;
}
.divider__line2 {
  border: 1px solid black;
  width: 1px;
  height: 60%;
  border-left-color: white;
  border-top-color: white;
  border-right-color: gray;
  border-bottom-color: gray;
}

#start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.nav__start {
  width: 90px;
  height: 95%;
  outline: none;
  border: 2px solid;
  background: none;
  padding-left: 5px;
  border-top-color: white;
  border-left-color: white;
  border-right-color: gray;
  border-bottom-color: gray;
  display: flex;
  align-items: center;
}
.nav__start__active {
  border-top-color: gray;
  border-left-color: gray;
  border-right-color: white;
  border-bottom-color: white;
}
.nav__start:active {
  border-top-color: gray;
  border-left-color: gray;
  border-right-color: white;
  border-bottom-color: white;
}
.nav__start__text {
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

#taskbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
}

.nav__icon {
  background: none;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
}
.nav__icon:active {
  border: 2px solid;
  border-top-color: gray;
  border-left-color: gray;
  border-right-color: white;
  border-bottom-color: white;
}

#program-bar {
  display: flex;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.nav__program__button {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: gray;
  border-bottom-color: gray;
  background: none;
  width: 25%;
  max-width: 250px;
  padding-left: 5px;
  text-align: left;
  align-items: center;
  overflow: hidden;
}
.nav__program__button--active {
  border-top-color: gray;
  border-left-color: gray;
  border-right-color: white;
  border-bottom-color: white;
}

#date-time {
  width: 150px;
  min-width: 150px;
  margin-left: auto;
  margin-right: 5px;
}

.nav__datetime {
  display: flex;
  border: 2px solid orange;
  height: 90%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  border-top-color: gray;
  border-left-color: gray;
  border-right-color: white;
  border-bottom-color: white;
}

.start {
  display: none;
  z-index: 10;
  position: absolute;
  transform: translateY(-304px);
  border: 2px solid black;
  border-top-color: white;
  border-left-color: white;
  border-right-color: black;
  border-bottom-color: black;
  background-color: lightgray;
  margin-left: 3px;
  height: 300px;
  width: 200px;
}
.start__active {
  display: flex;
}
.start__banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  border: 2px solid navy;
  background-color: navy;
  width: 30px;
  height: 98%;
}
.start__banner__text {
  flex-wrap: wrap;
  height: 30px;
  width: 120px;
  color: white;
  font-size: 24px;
  transform: rotate(270deg);
  margin: -46px;
  margin-bottom: 50px;
}
.start__menu {
  display: flex;
  flex-direction: column;
  width: 81%;
}
.start__menu__programs {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}
.start__menu__logoff {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  justify-content: space-around;
  width: 100%;
  height: 40%;
}
.start__menu__article {
  display: flex;
  width: 99%;
  height: 50px;
}
.start__menu__article:hover {
  background-color: navy;
  color: white;
}
.start__menu__article__text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.start__menu__article__text:hover {
  color: white;
  cursor: default;
}
.start__menu__divider {
  display: flex;
  width: 95%;
  border: 2px solid lightgray;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: auto;
  border-top-color: gray;
  border-bottom-color: white;
}

.desktop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 97.3vh;
  gap: 0px;
}
.desktop__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid cadetblue;
  width: 96px;
  padding-top: 30px;
  margin-left: 30px;
  gap: 3px;
}
.desktop__article__icon {
  width: 48px;
  height: 48px;
}
.desktop__article__icon--active {
  border: 2px dotted gray;
  background-color: skyblue;
  mix-blend-mode: overlay;
}
.desktop__article__text {
  color: white;
}
.desktop__article__text--active {
  border: 2px dotted gray;
  background-color: lightblue;
  mix-blend-mode: overlay;
}
.desktop__modal {
  display: none;
  position: absolute;
  left: 500px;
  top: 300px;
  flex-direction: column;
  border: 2px solid black;
  width: 500px;
  height: 500px;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  border-top-color: white;
  border-left-color: white;
  border-right-color: black;
  border-bottom-color: black;
  background-color: lightgray;
}
.desktop__modal__header {
  display: flex;
  border: 2px solid gray;
  background-color: gray;
  width: 490px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.desktop__modal__header__text {
  color: white;
  margin-left: 5px;
}
.desktop__modal__header__button {
  display: flex;
  margin-left: auto;
  margin-right: 5px;
  background-color: lightgray;
  border-top-color: white;
  border-left-color: white;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.desktop__modal__header--active .desktop__modal__header {
  border: 2px solid navy;
  background-color: navy;
}
.desktop__modal__content {
  display: flex;
  border: 2px solid black;
  background-color: white;
  width: 475px;
  height: 450px;
  margin: auto;
  margin-right: 11px;
}

.modal__open {
  display: flex;
}

@font-face {
  font-family: "Windows";
  src: url("fonts/subset-Windows.woff2") format("woff2"), url("fonts/subset-Windows.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Windows";
}

body {
  background-color: cadetblue;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  width: 100vw;
}
